<launch>
  <arg name="use_simulator" default="true" />

  <!-- rosbridge server (json mode) -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <!-- robot -->
  <group if="$(arg use_simulator)">
    <include file="$(find sysexp)/launch/turtlesim_cmdvel.launch" />
  </group>
  <group unless="$(arg use_simulator)">
    <include file="$(find sysexp)/launch/robot_cmdvel.launch" />
  </group>
</launch>
